/* src/styles/global.css */

/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía global */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Enlaces sin subrayar */
a {
    text-decoration: none;
    color: inherit;
}

/* Botones globales */
button {
    font-family: inherit;
    font-size: 1rem;
}


.center-text {
    text-align: center;
}


.main-content {
    flex: 1;
    padding: 1rem;
}