body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#description{
    color: grey;
    font-variant-caps: small-caps;
}

h1, h2 {
    color: #1a70c4;
    font-variant-caps: small-caps;
}

.header {
    text-align: center;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin: 10px auto;
}

.section {
    margin-top: 20px;
    color: #001168;
}

.section h2 {
    border-bottom: 2px solid #1e90ff;
    padding-bottom: 5px;
}

.section p, .section ul {
    margin: 10px 0;
    line-height: 1.6;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    background-color: #1e90ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}