.pantalla {
    width: 80%;
    height: 20%;
    background-color: #ccc;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.asientos {
    margin: 0 auto;
}

.asiento {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.asiento--disponible {
    background-color: #28a745;
}

.asiento--ocupada {
    background-color: #dc3545;
    cursor: not-allowed;
}

.asiento--seleccionada {
    background-color: #ffc107;
}

#formulario-reserva {
    margin: auto;
    text-align: center;
    width: 50%;
}

.formulario-reserva__grupo {
    margin: 15px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}