*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #663399;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}

p,
ul,
ol {
  margin: 0;
}

p {
  text-wrap: pretty;
}

body {
  margin: 0;
  padding: 0;
}

:is(input, button, a):focus-visible {
  outline: 1px dashed #333;
  outline-offset: 2px;
}

.btn {
  --btn-color: #555;
  background-color: var(--btn-color);
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  transition: background-color 0.2s;

  &:hover,
  &:focus,
  &:focus-visible {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
}

.btn-primary {
  --btn-color: var(--primary-color);
}
