* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 18px;
}

body {
    color: rebeccapurple;
}

a {
    color: inherit;
    font-weight: bold;
}

main {
    margin-top: 80px;
    padding: 0 12px;
}

.commissioner-letter {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "FLAR" 0,
        "VOLM" 0;
}


.c-header {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(158, 158, 158, .7);
    -moz-box-shadow: 0px 5px 12px 0px rgba(158, 158, 158, .7);
    box-shadow: 0px 5px 12px 0px rgba(158, 158, 158, .7);
    background-color: white;
    width: 100%;
    padding: 16px 12px;
    z-index: 9999;  
}

.c-header__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.c-header__letter {
    font-size: 26px;
}

.cinema {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.cinema__screen {
    background-color: gray;
    color: white;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    letter-spacing: 8px;
}

.cinema__box {
    margin: 42px 0;
    color: rebeccapurple;
}

.cinema__list {
    max-width: 570px;
    margin: 0 auto;
}

.cinema__row {
    display: grid;
    grid-template-columns: 21px 1fr;
    gap: 12px;
    margin: 4px;
}

.cinema__seats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
}

.cinema__seat {
    --dimension: 25px;
    width: var(--dimension);
    height: var(--dimension);
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    cursor: pointer;
}

.cinema__seat:not(.--active):hover {
    background-color: rgb(from rebeccapurple r g b / 0.5) !important;
}

.--active {
    background-color: rebeccapurple;
    cursor: not-allowed;
}


.cinemaForm {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.cinemaForm__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
}

.cinemaForm__input {
    border-radius: 4px;
    border: 1px solid gray;
    padding: 8px 12px;
}

.cinemaForm__input:focus,
.cinemaForm__input:focus-visible {
    outline-color: rebeccapurple;
}

.cinemaForm__btn {
    border-radius: 4px;
    background-color: rebeccapurple;
    color: white;
    padding: 9px 12px;
    border: 0;
}

.cinemaForm__btn:disabled {
    background-color: rgb(from rebeccapurple r g b / 0.5) !important;;
}

footer {
    margin-top: 12px;
    border-top: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    color: white;
    padding: 3rem 12px;
}