
.container{
    background-color: #004cb5;
    width: 33% !important;
    height: 550px;
    margin-top: 20px;
    border-radius: 30px;
    padding-top: 50px;
    box-shadow: 5px 10px 8px #000000;
}

p{
    color: red;
    font-size: 10px;
    font-weight: bold;

}
h1{
    color: white !important;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px !important;
    margin-left: 600px;
}