body {
  border-radius: 3px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 820px;
  height: 970px;
  background-color: #3d3d3d;
}

.pantalla {
  background-color: #d1cecf;
  padding: 10px;
  height: 30px;
  color: #434343;
  margin: 20px;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 24px;
  font-weight: 700;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.publico {
  margin-top: 30px;
}

.pasillo {
  width: 100%;
  height: 150px;
}

.asiento {
  height: 33px;
  padding: 5px;
}

.box {
  border-radius: 3px;
  background-color: #a7a7a7;
}

.box.ocupado {
  background-color: #e18102;
}

.butaca {
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.respaldo {
  width: 20px;
  height: 15px;
  position: absolute;
  margin-top: -8px;
}

.seleccion {
  margin-top: 20px;
}

.form-seleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e18102;
  gap: 10px;
}

.input-cantidad{
  padding: 4px;
  font-size: 16px;
  width: 130px;
  border-style: none;
  border-radius: 3px;
}

.btn-primary{
  padding: 10px;
  background-color: #e18102;
  border-color: #e18102;
  border-radius: 6px;
  color: #f3f3f3;
}

.btn-primary:hover{
  background-color: #8b5d20;
}