body {
    margin: 20px;
    border: 1px solid #ffc107;
    background-color: rgb(0, 0, 0);
    color: white;
}

.cajas {
    padding: 80px;
    margin: 30px;
    background-color: rgb(67, 67, 99);
}


.footer, .textoUnir {
    background-color: #333;
    padding: 20px;
    margin: 30px;
    text-align: center;
}

.silla-container {
    margin: 0 auto;
    width: fit-content;
    border-collapse: separate;
    border-spacing: 10px 15px;
}

.silla {
    width: 50px;
    height: 50px;
    border: 2px solid #ffc107 !important;
  
}

.silla.ocupada {
    background-color: #ffc107;
}

.row-label {
    font-weight: bold;
    font-size: 14px;
    color: #ffc107;
    text-align: right;
    border: none !important; 
}

.table td {
    padding: 5px;
    border:1px solid #ffc107;
}

.table td.silla,td.silla.ocupada{
    color: black;
}

.silla:hover {
    background-color: rgb(231, 164, 19);
}
.btn-yellow {
    background-color: #ffc107;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.btn-yellow:hover {
    background-color: #ffc107;
}
.form-control{
    width: 8%;          
    margin-left: auto;  
    margin-right: auto; 
    text-align: center; 
    margin-bottom: 9px;
}

p.cantidad{
    color: #ffc107;
}
.silla.sugerida {
    background-color: #ffc107; 
    
}
