html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

body {
  overflow-x: hidden; /* Oculta barras de desp.*/
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: yellow;
  font-size: 20px;
  text-align: center;
  
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 12px;
  text-align: center;
}

aside {
  position: fixed;
  top: 50px; /* Igual a la altura del header */
  left: 0;
  padding-left: 10px;
  width: 200px; /* Ancho del menú */
  height: calc(100% - 80px); /* Altura total menos el header y footer */
  background-color: lightgreen;
}

.landing {
  position: absolute;
  top: 50px; /* Igual a la altura del header */
  left: 200px; /* Ancho del menú */
  right: 0;
  bottom: 30px; /* Altura del footer */
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  display: flex;  
  width: 100vw; /* Ancho de toda la ventana */
  height: 100vh; /* Altura de toda la ventana */
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  font-size: 25px;
  color: red;
}

/* Solo afecta a las imágenes dentro de .not-found */
.not-found img {  
  width: 20%; /* Responsive */
  height: auto; /* Mantiene la proporción */
}




.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-list__item {
  margin: 1rem 0;
}

.movie-list__link {
  text-decoration: none;
  color: blue;
}

nav ul li a:hover {
  color: darkblue;
}

.movie-details {
  top: 50px;
  bottom: 30px;
  margin-left: 210px;
  padding-left: 10%;
  width: 100%;
  height: 100vh;
  align-content: center;
  
}

.movie-details img {
  width: 20%;
}

.horizontally > * {
  display: inline-block;
  width: 500px;
  text-align: left;
  vertical-align: text-top;
}
.vertically > * {
  display: block;
  margin-left: 5%;
}

