
.cinema-room {
    background-color: black;
    border: 3px solid yellow;
    padding: 20px;
    max-width: 1000px;
  }
  
  .seat {
    width: 40px;
    height: 30px;
    background-color: black;
    border: 2px solid yellow;
    text-align: center;
    font-weight: bold;
    color: grey;
  }
  
  .fila-numero {
    color: yellow;
    font-weight: bold;
  }

  .informacion-contacto{
    background-color: grey;
    color: black;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 1000px;
  }

  .form-label{
    color: yellow;
  }
  
  