body {
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
}

h3 {
    color: #42A5F5;
    text-align: center;
}

form {
    background-color: #BBBBBB; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-field label {
    color: black;
}

.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email] {
    color: black; 
    border-bottom: 1px solid #42A5F5; 
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #42A5F5; /* Borde en foco */
    box-shadow: 0 1px 0 0 #42A5F5; /* Sombra en foco */
}

.btn {
    background-color: #42A5F5; /* Botón*/
    color: #333; /* Texto del botón en oscuro */
}

.btn:hover {
    background-color: #0DCAF0; /* Color del botón al pasar el mouse */
}

/* Mensajes de error */
p {
    color: #ff4444; /* Rojo para errores */
    font-size: 0.8rem;
    margin-top: 5px;
}

.error {
    color: red;
}