body {
    background-color: #1a1a1a;
    color: white;
}

.header {
    background-color: #042e6d;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(228, 225, 219);
}

.screen {
    background-color: #272727;
    height: 300px;
    margin: 80px auto 80px;
    width: 70%;
    border-radius: 8cqh;
    border-top: 5px solid #8fa8ce;
    border-width: 1cap;
    
}

.seats-container {
    width: 80%;
    margin: 0 auto;
}

.seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid #069612;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.seat.occupied {
    background-color: rgb(133, 12, 3);
    border: 2px solid rgb(241, 240, 235);
}

.row-label {
    color: rgb(205, 250, 248);
    width: 50px;
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
}

.reservation-form {
    text-align: center;
    margin: 20px 0;
}

.reservation-form input {
    width: 200px;
    margin: 20px auto;
}

.confirm-button {
    background-color: rgba(18, 240, 18, 0.733);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.confirm-button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(112, 103, 47, 0.6);
    background-color: darkgreen;
    color: white;
}

.footer {
    background-color: #4c4c4c;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.footer p {
    margin: 5px 0;
}
