body{
    background-color: black;  

}
.principal{
    background-color: gray;
    border-style: solid;
    border-radius:3px;
    text-align: center;
    margin-bottom: 10px;

}
.pantalla{
    background-color: rgb(23, 23, 85);
    height: 100px; 
    border-radius: 5px;;  
}
footer{
    background-color: gray;
    text-align:center;
}
.formulario{
    color: white;
    text-align: center ;
}
.grid-container {
    margin:auto;
    margin-top:5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: #17334a;
    padding: 10px;
    gap: 5px;
    
  }
  .silla:hover {
    background-color: green;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 8px;
  }