
header{
    background-color: lightblue;
}
section{
border-style: groove;
margin-top:5px;
padding-left: 5px;
border-radius: 5px;

}
section h4{
    color: blue;
}
img{
    width: 16%;
    height: 125px;
    margin: 5px 40% 0px 40%;
    border-radius: 3px;
}
header h2,h3{
    text-align: center;
    
}